Updated2/LoginSignup/LoginSignup/Connected Services/KuberXServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62673/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KuberXServices" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KuberXServices" minOccurs="0" name="user" nillable="true" type="q1:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KuberXServices" minOccurs="0" name="registration" nillable="true" type="q2:registrationmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Official_Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KuberXServices" minOccurs="0" name="GetDetailsResult" nillable="true" type="q3:registrationmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KuberXServices" minOccurs="0" name="admin" nillable="true" type="q4:AdminModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adm_Official_Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KuberXServices" minOccurs="0" name="GetAdminDetailsResult" nillable="true" type="q5:GetAdminDetailsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdminFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KuberXServices" minOccurs="0" name="feedback" nillable="true" type="q6:AdminFeedbackModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdminFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAdminFeedbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>